@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
	--black: #000000;
	--dark-grey: #0c0c0c;
	--light-black: #131313;
	--less-dark-grey: #1a1a1a;
	--white: #ffffff;
	--light-grey: #e7e7e7;
}

body {
	background-color: var(--light-black);
	color: var(--white);
	font-family: "noto sans";
	font-size: 3vh;
	padding-top: 5vh;
	background-position: center;

	background-size: contain;
	background-repeat: repeat-y;
}

* {
	font-family: 'noto sans', sans-serif;
}

h1 {
	text-align: center;
	padding: 0;
	margin: 0;
}

nav {
	background-color: var(--dark-grey);
	left: 0;
	top: 0;
	position: fixed;
	width: 100%;
	box-sizing: border-box;
	padding: 0.5vh 1vh;
	z-index: 999;
}

nav a {
	cursor: pointer;
	padding: 0.1vh 1.5vh;
	border-radius: 3vh;
	font-size: 3vh;
	user-select: none;
	color: var(--white);
	text-decoration: none;
}

nav a:hover {
	background-color: var(--less-dark-grey);
}

.container {
	display: grid;
	grid-template-columns: calc(50% - 1vh) calc(50% - 1vh);
	left: 12.5%;
	width: 75%;
	position: relative;
	column-gap: 2vh;
	margin-top: 3vh;
	row-gap: 2vh;
}

.container > div {
	width: 100%;
	height: auto;
	box-sizing: border-box;
	background-color: var(--less-dark-grey);
	display: grid;
	grid-template-columns: max-content auto;
	padding: 2vh;
	border-radius: 3.5vh;
	column-gap: 1vh;
	cursor: auto;
	transition: 0.3s;
}

.container > div > img {
	width: auto;
	max-height: 20vh;
	border-radius: 1.5vh;
}

.container > div > div {
	text-align: center;
	position: relative;
}

.container p {
	font-size: 3vh;
	text-align: center;
	margin-bottom: 7vh;
}

.container a {
	background-color: #5bcefa;
	padding: 1vh;
	width: 100%;
	text-align: center;
	font-size: 2.5vh;
	position: absolute;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
	border-radius: 1.5vh;
	color: var(--black);
	font-weight: bold;
	text-decoration: none;
	user-select: none;
	margin-top: 2vh;
	transition: 0.3s;
}

.container a:hover {
	background-color: #f5a9b8;
}

.search {
	width: 75%;
	left: 14.5%;
	font-size: 2.5vh;
	position: sticky;
	top: 5.5vh;
	z-index: 998;
	box-sizing: border-box;
	background-color: var(--dark-grey);
	color: var(--white);
	outline: none;
	border: none;
	padding: 1vh 2vh;
	margin-top: 2vh;
	border-radius: 3vh;
}

.search.is-pinned {
	border-top-right-radius: 0.5vh;
	border-top-left-radius: 0.5vh;
}

@media screen and (max-width: 1401px) {
	.container {
		grid-template-columns: auto;
	width: 75%;
	left: 12.5%;
	padding: 0;
	}

	.container > div {
		grid-template-columns: auto;
	}

	.container > div > img {
		width: 100%;
		height: auto;
		max-height: none;
	}
}
